<div class="row">
  <div class="col-6 center text-center">
    <div class="row">
      <h1 class="form-heading">
        Four Oh Four
      </h1>
    </div>
    <div class="row">
      <p class="text-center">ROADBLOCK: It's missing, gone, disappeared, flown the coop, MIA, anything but here.</p>
    </div>
  </div>
</div>
