@charset "utf-8";

$dark-text: #3c3c3c;
$link-color: #918f5e;
$dark-blue: #3f414d;

* {
  box-sizing: border-box;
}

body {
  @include animation(fade-in 0.5s 1);
}

@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

a {
  color: $link-color;
  font-family: "proxima_nova_rgbold";
}

img {
  max-width: 100%;
}

h1 {
  display: block;
  margin: auto;
  padding: 7% 0 0 0;
}

h2 {
  font-family: "proxima_novablack", sans-serif;
  color: $dark-text;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-family: "proxima_novablack", sans-serif;
  color: $dark-text;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 16px;
  font-family: "proxima_nova_rgregular", sans-serif;
  line-height: 1.4;
  color: $dark-text;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: auto;
  position: relative;
  z-index: 1000;
  @include clearfix;
}

header {
  width: 100%;
  max-height: 470px;
  background: url(image-path("header.jpg")) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow-y: hidden;
  position: relative;
  margin-bottom: 3%;
}

.button {
  width: 150px;
  height: 40px;
  padding: 11px 26px;
  font-size: 14px;
  border: 2px solid white;
  border-radius: 4px;
  float: right;
  font-family: "proxima_novablack", sans-serif;
  color: white;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 4px;
  position: relative;
  display: block;
  top: 40px;
  @include transition(all 0.3s);
  &:hover {
    background: white;
    color: $dark-text;
  }
}

.logo {
  width: 35%;
  margin-bottom: 10%;
  @include animation(slide-in 1s 1);
}

@include keyframes(slide-in) {
  0% {
    @include transform(translateX(-80px));
    opacity: 0;
  }
}


.feature {
  width: 33.33333%;
  padding: 0 3%;
  margin-bottom: 6%;
  float: left;
  &:first-child {
    padding: 0 3% 0 0;
  }
  &:last-child {
    padding: 0 0 0 3%;
  }
}

.boat, .calendar, .ruby {
  height: 78px;
  width: 100px;
  margin: 8px auto;
}

.boat {
  background: url(image-path("boat.png")) no-repeat center;
  background-size: 43%;
}

.calendar {
  background: url(image-path("calendar.png")) no-repeat center;
  background-size: 36.5%;
}

.ruby {
  background: url(image-path("ruby.png")) no-repeat center;
  background-size: 40.25%;
}

.description {
  width: 100%;
  background: $dark-blue;
  padding: 10% 0 4% 0;
  margin-bottom: 4%;
  h2 {
    padding: 0 6%;
  }
  h2, p {
    color: white;
    margin-bottom: 8%;
  }
  .button {
    float: none;
    margin: auto;
    display: block;
    position: static;
  }
}

@media screen and (max-width: 590px) {
  h1.logo {
    float: left;
    margin: 1% 0 10% 3%;
  }
  .button {
    top: 52px;
    right: 6px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  @include clearfix;
}

/* forms */

.description {
  label {
    color: white;
    margin-bottom: 8%;
    font-weight: bold;
  }
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  input {
    height: auto !important;
  }
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
