.sponsors {
  margin: 4% auto 5%;
  width: 596px;
  @include clearfix;
  a {
    display: block;
  }
}

.sponsor {
  margin-right: 20px;
  &:last-child {
    margin-right: 0px;
  }
}

.pivotal {
  background: url(image-path("pivotal.png")) no-repeat center;
  @include size(440px 160px);
}

.neo {
  background: url(image-path("neo.png")) no-repeat center;
  @include size(138px 80px);
}

.hashrocket {
  background: url(image-path("hashrocket.png")) no-repeat center;
  @include size(190px 120px);
}

.dockyard {
  background: url(image-path("dockyard.png")) no-repeat center;
  @include size(223px 80px);
}

.engineyard {
  background: url(image-path("engineyard.png")) no-repeat center;
  @include size(102px 164px);
}

.bluebox {
  background: url(image-path("bluebox.png")) no-repeat center;
  @include size(238px 164px);
}

.github {
  @include size(200px 164px);
  background: url(image-path("Octocat.jpg")) no-repeat center;
}

.rubycentral {
  @include size(169px 200px);
  background: url(image-path("Ruby_Central_Logo-med.png")) no-repeat center;
}

.dnsimple {
  @include size(206px 80px);
  background: url(image-path("DNSimple.png")) no-repeat center;
}

.soundcloud {
  @include size(138px 220px);
  background: url(image-path("sc-med_orange.png")) no-repeat center;
}

.neo, .hashrocket, .dockyard, .github, .pivotal, .engineyard, .bluebox, .rubycentral, .soundcloud, .dnsimple {
  float: left;
  background-size: 100%;
  margin-bottom: 20px;
}

footer {
  width: 94%;
  margin: auto;
  text-align: center;
  margin-bottom: 6%;
}

@media screen and (max-width: 690px) {
  .feature {
    float: none;
    width: 100%;
    padding: 0 3%;
    @include clearfix;
    &:first-child {
      padding: 0 3%;
    }
    &:last-child {
      padding: 0 3%;
    }
  }
  .sponsors {
    width: 250px;
    .pivotal {
      @include size(240px 130px);
    }
    .neo, .dockyard, .bluebox {
      @include size(200px 146px);
      margin-left: 5px; 
      background-size: 100%;
    }
    .engineyard, .github {
      @include size(120px 220px);
      background-size: 100%;
    }
    .github {
      @include size(200px 220px);
    }
    .hashrocket {
      @include size(210px 120px);
      margin-left: 0px;
      background-size: 100%;
    }
    .engineyard {
      margin-left: 25px;
    }
    .soundcloud {
    }
    .dnsimple {
    }
    .rubycentral {
    }
  }
}

@media screen and (max-width: 470px) {
  .sponsors {
    width: 180px;
  }
  .sponsor {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    .neo {
      width: 146px;
    }
    .neo, .dockyard, .github, .bluebox {
      width: 146px;
      margin-left: 5px; 
      background-size: 100%;
    }
    .pivotal, .hashrocket, .engineyard {
      width: 180px;
      background-size: 100%;
    }
  }
}
