.static.index {
  .masthead {
    background-size: cover;
    background-position: bottom center;
    background-image: asset-url("hbg2.jpg");
    text-align: center;
    height: 100%;

    a {
      width: 300px;
      position: relative;
      display: inline-block;
      border-radius: 300px;
      background-size: cover;
      background-color: $ros-blue;
      background-image: asset-url("logo-white.png");
      top: $base-mp * 3;
      right: $base-mp;
      bottom: 0;
      height: 300px;

      span {
        display: none;
      }
    }
  }

  .alerts {
    margin: 0;
    position: fixed;
    top: 0;
  }
}
