<footer class="footbar<%= " #{footer_class}" if defined?(footer_class) %>">
  <div class="container">
    <div class="row <%= defined?(subfooter_class) ? subfooter_class : "col-10 center" %>">
      <p class="col-6 text-left">Copyright 2014: Ruby on Sails ~ Home Page Image By: Chong Yee Khoo</p>
      <p class="col-6 text-right">Privacy ~ Terms ~ Contact Us</p>
    </div>
  </div>
</footer>
