<footer>
  <p>
    © Ruby On Sails 2013. All rights reserved. Want to Sponsor a sailboat?
    Other Questions? <a href="mailto:info@rubyonsails.info"> Contact Us!</a>
    | Follow us on <a href="http://twitter.com/RubyOnSails" target="_blank">
      Twitter</a>
  </p>
  <p>
    Designed and Built by <a href="http://twitter.com/pixeljanitor" target="_blank">
      @pixeljanitor</a>, <a href="http://twitter.com/bry_cunningham" target="_blank">
      @bry_cunningham</a>, and <a href="http://twitter.com/jnanney" target="_blank">
      @jnanney</a>
  </p>
</footer>
