<header>
  <div class="container">
    <a class="button" href="http://rubyonsails-ww.eventbrite.com"
      target="_blank">REGISTER</a>
    <h1 class="logo"><img src="<%= asset_path("logo.png") %>" alt="Ruby On Sails Logo"></h1>
  </div>
</header>
