<h3>RUBY ON SAILS SPONSORS</h3>
<div class="sponsors">
  <a class="sponsor pivotal" href="http://pivotallabs.com" target="_blank"></a>
</div>
<div class="sponsors">
  <a class="sponsor neo" href="http://neo.com" target="_blank"></a>
  <a class="sponsor hashrocket" href="http://hashrocket.com" target="_blank"></a>
  <a class="sponsor dockyard" href="http://dockyard.com" target="_blank"></a>
</div>
<div class="sponsors">
  <a class="sponsor github" href="https://github.com" target="_blank"></a>
  <a class="sponsor engineyard" href="http://engineyard.com" target="_blank"></a>
  <a class="sponsor bluebox" href="http://bluebox.com" target="_blank"></a>
</div>
